/*Formulaire de contact*/
/*Positionnement du formulaire*/
.wpcf7 .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*Styles des label*/
.wpcf7-form label {
  font-family: Poppins;
  font-size: 15px;
}

/*Styles des champs*/
.wpcf7 .contact input[type="text"] {
  background-color: #fff;
  color: #000;
  margin-top: 5px;
  height: 30%;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(208, 207, 207);
}

.wpcf7 .contact input[type="email"] {
  background-color: #fff;
  color: #000;
  height: 30px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgb(208, 207, 207);
}

.wpcf7 .contact textarea {
  background-color: #fff;
  color: #000;
  margin-top: 5px;
  height: 150px;
  border: 1px solid rgb(208, 207, 207);
}

/*Taille des labels*/
.wpcf7 .contact .label-size {
  font-size: 20px;
  font-weight: 400;
}

/*Bouton "Envoyer"*/
.wpcf7 .contact input[type="submit"] {
  width: 188px;
  height: 40px;
  font-size: 15px;
  font-weight: 400;
  margin-left: calc((100% - 188px) / 2);
  border: 1px solid rgb(208, 207, 207);
}
