#intro {
  max-width: 1200px;
  margin: auto;
  padding-top: 5%;
  h1 {
    font-family: Poppins;
    font-size: 7rem;
    font-weight: 700;
    margin: 0;
  }
  h2 {
    font-family: Poppins;
    color: rgb(0, 0, 0);
    font-size: 1rem;
    font-weight: 400;
    padding-left: 5px;
  }
}

.wordpress {
  font-family: Neonderthaw-Regular;
  font-size: 10rem;
  font-weight: 500;
  font-style: italic;
  color: black;
}

.gradient {
  background: linear-gradient(120deg, #e198af 15%, #ea3e8b 35%, #eb7542 65%);
  background-clip: text;
  color: #0000;
}
