@media (max-width: 767px) {
  // Burger Menu
  #header {
    width: 100%;
    z-index: 1;
    background-color: white;
    overflow: hidden;
  }

  // Header-menu
  #header-menu {
    z-index: 1;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: none;
    li a {
      padding-bottom: 20px;
      font-family: poppins;
      font-size: 2rem;
      color: rgb(0, 0, 0);
    }
    #menu-main_menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 80%;
      padding: 0;
    }
  }

  .current-menu-item::after {
    bottom: 0;
  }

  // bouton burger
  .burger__btn {
    width: 30px;
    height: 19px;
    position: absolute;
    top: 27px;
    right: 39px;
    z-index: 100;
    span {
      pointer-events: none;
    }
    .line1 {
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: black;
      display: block;
    }
    .line2 {
      position: absolute;
      width: 30px;
      height: 2px;
      top: 7px;
      background-color: black;
      display: block;
    }
    .line3 {
      position: absolute;
      width: 30px;
      height: 2px;
      top: 14px;
      background-color: black;
      display: block;
    }
  }

  .active .line1 {
    transform: translateY(7px) rotate(45deg);
    transition: 0.4s ease-in-out;
  }
  .active .line2 {
    opacity: 0;
  }

  .active .line3 {
    transform: translateY(-7px) rotate(-45deg);
    transition: 0.4s ease-in-out;
  }

  #header-menu.active {
    display: block;
  }

  .fixed {
    position: fixed;
  }

  // Intro
  #intro {
    margin: 50px auto 50px auto;
  }

  #intro h1 {
    font-size: 11vw; /* Taille de police en vw pour les écrans de taille moyenne */
  }
  #intro h2 {
    font-size: 0.9rem; /* Taille de police en vw pour les écrans de taille moyenne */
  }

  .wordpress {
    font-size: 16vw;
  }

  // Projets
  .projets-title {
    font-size: 17px;
    margin: 0px 10px 20px 20px;
    &::after {
      width: 96%;
    }
  }

  .projets-content {
    flex-direction: column;
  }

  .project-description {
    max-width: 500px;
    padding: 0;
    margin: 0 20px 0 20px;
    .projet-link {
      font-size: 16px;
    }
  }

  .project-img {
    margin-right: 0;
  }

  // Single Projet
  .single_projet {
    flex-direction: column-reverse;
    align-items: center;
  }

  .single_img img {
    margin: 55px 20px 20px 20px;

    // page "A propos"
    .about-title {
      padding: 55px 30px 0 30px;
    }

    // Menu footer
    .menu-footer_menu-container li a {
      font-size: 0.8rem;
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  // Intro
  #intro h1 {
    font-size: 11vw; /* Taille de police en vw pour les écrans de taille moyenne */
  }
  #intro h2 {
    font-size: 0.9rem; /* Taille de police en vw pour les écrans de taille moyenne */
  }

  .wordpress {
    font-size: 16vw;
  }

  // Projets
  .projets-title {
    margin: 50px 35px 20px 50px;
  }

  // Single Projet
  .single_projet {
    flex-direction: column-reverse;
    align-items: center;
  }

  .single_info {
    max-width: 700px;
  }
  .single_img {
    img {
      width: 90%;
      max-width: 700px;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  // Projets
  .single_projet {
    flex-direction: row;
  }

  .single_img {
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  // Projets
  .project-description {
    max-width: 450px;
    h4 {
      font-size: 20px;
    }
  }

  .project-description .projet-text {
    font-size: 18px;
  }

  .single_img {
    img {
      width: 90%;
      max-width: 800px;
    }
  }
}

@media (min-width: 1441px) {
  // Intro
  #intro h1 {
    font-size: 8rem; /* Taille de police en vw pour les écrans de taille moyenne */
  }

  .wordpress {
    font-size: 12rem;
  }

  // Projets
  .project-description {
    max-width: 450px;
    h4 {
      font-size: 20px;
    }
  }

  .project-description .projet-text {
    font-size: 18px;
  }

  // Single Projets
  .single_info {
    max-width: 600px;
  }
  .single_img {
    img {
      width: 90%;
      max-width: 800px;
    }
  }
}
