@media (max-width: 767px) {
  #header {
    width: 100%;
    height: 72px;
    position: fixed;
    z-index: 1;
    background-color: white;
    overflow: hidden;
  }

  #header-menu {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 72px;
    width: 100%;
    height: 100%;
    background-color: #e00000;
    display: none;
    #menu-main_menu {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
      height: 80%;
    }
    li {
      padding-bottom: 20px;
    }
    a {
      font-family: SpaceMono;
      font-size: 44px;
      color: white;
    }
  }

  .burger__btn {
    width: 30px;
    height: 19px;
    position: absolute;
    top: 27px;
    right: 39px;
    z-index: 100;
    span {
      pointer-events: none;
    }
    .line1 {
      position: absolute;
      width: 30px;
      height: 2px;
      background-color: black;
      display: block;
    }
    .line2 {
      position: absolute;
      width: 30px;
      height: 2px;
      top: 7px;
      background-color: black;
      display: block;
    }
    .line3 {
      position: absolute;
      width: 30px;
      height: 2px;
      top: 14px;
      background-color: black;
      display: block;
    }
  }

  .active .line1 {
    transform: translateY(7px) rotate(45deg);
    transition: 0.4s ease-in-out;
  }
  .active .line2 {
    opacity: 0;
  }

  .active .line3 {
    transform: translateY(-7px) rotate(-45deg);
    transition: 0.4s ease-in-out;
  }

  #header-menu.active {
    display: block;
  }

  #intro h1 {
    font-size: 10vw; /* Taille de police en vw pour les écrans de taille moyenne */
  }
  #intro h2 {
    font-size: 0.9rem; /* Taille de police en vw pour les écrans de taille moyenne */
  }

  .wordpress {
    font-size: 15vw;
  }

  .projets-title {
    font-size: 15px;
  }

  .projets-content {
    flex-direction: column;
  }

  .project-description {
    max-width: 500px;
    padding: 0;
    margin: 0 20px 0 20px;
  }

  .project-img {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 0;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  #intro h1 {
    font-size: 10vw; /* Taille de police en vw pour les écrans de taille moyenne */
  }
  #intro h2 {
    font-size: 0.9rem; /* Taille de police en vw pour les écrans de taille moyenne */
  }

  .wordpress {
    font-size: 15vw;
  }

  .projets-title {
    margin-left: 7%;
    margin-right: 5%;
  }
}

@media (min-width: 1025px) and (max-width: 1199px) {
  .projets-title {
    margin-left: 7%;
    margin-right: 5%;
  }

  .single_projet {
    flex-direction: row;
    padding-top: 50px;
  }

  .single_content {
    width: 50%;
    h4 {
      margin-top: 0;
    }
  }

  .single_img {
    justify-content: center;
  }
}

@media (min-width: 1200px) and (max-width: 1440px) {
  .projets-title {
    margin-left: 7%;
    margin-right: 5%;
  }

  .project-description {
    max-width: 450px;
    h4 {
      font-size: 20px;
    }
  }

  .project-description .projet-text {
    font-size: 18px;
  }

  .single_projet {
    flex-direction: row;
    padding-top: 50px;
  }

  .single_content {
    width: 50%;
    h4 {
      margin-top: 0;
    }
  }

  .single_img {
    justify-content: center;
  }
}

@media (min-width: 1441px) {
  #intro h1 {
    font-size: 8rem; /* Taille de police en vw pour les écrans de taille moyenne */
  }

  .wordpress {
    font-size: 12rem;
  }

  .projets-title {
    margin-left: 7%;
    margin-right: 5%;
  }

  .project-description {
    max-width: 450px;
    h4 {
      font-size: 20px;
    }
  }

  .project-description .projet-text {
    font-size: 18px;
  }

  .single_projet {
    flex-direction: row;
    padding-top: 50px;
  }

  .single_content {
    width: 50%;
    h4 {
      margin-top: 0;
    }
  }

  .single_img {
    justify-content: center;
  }
}
