// Menu du header
#header-menu {
  ul {
    display: flex;
    justify-content: end;
    text-align: right;
    gap: 5%;
    list-style: none;
    margin: 20px 35px 10px 0;
  }
  li a {
    display: inline;
    text-decoration: none;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    color: black;
    text-transform: uppercase;
    &:hover {
      font-weight: 400;
    }
  }
}

.current-menu-item {
  position: relative;
}

.current-menu-item::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  width: 100%;
  border-radius: 4px;
  background: #eedde2;
}

// Menu du footer
.menu-footer_menu-container {
  margin: 0;
  ul {
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 5%;
    margin-left: 5px;
  }
}

.menu-footer li a {
  display: inline;
  text-decoration: none;
  font-family: Poppins;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 300;
  color: black;
  text-transform: uppercase;
  &:hover {
    font-weight: 700;
  }
}
