@mixin transition(
  $property: all,
  $duration: 0.45s,
  $ease: cubic-bezier(0.65, 0, 0.076, 1)
) {
  transition: $property $duration $ease;
}

.projets-title {
  max-width: 1200px;
  margin: 50px 65px 20px 70px;
  position: relative;
  font-family: Poppins;
  font-weight: 300;
  font-size: 20px;
  text-transform: uppercase;
  &::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 2px;
    width: 100%;
    background: #f4a0ba;
  }
}

.projets-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.project-description {
  padding: 40px;
  max-width: 300px;
  height: auto;
  margin-left: 20px;
  h4 {
    font-family: Poppins;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 400;
  }
}

.project-description .projet-text {
  font-family: Poppins;
  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: 400;
}

/////////////////////////////////////////
// Styles pour les boutons
.project-button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;

  // Styles spécifiques pour la classe "project-link"
  &.project-link {
    width: 12rem;
    height: auto;

    // Styles pour le cercle
    .circle {
      @include transition(all); // Utilisation du mixin transition
      position: relative;
      display: block;
      margin: 0;
      width: 3em;
      height: 3em;
      background: #f4a0ba;
      border-radius: 1.625rem;

      // Styles pour l'icône à l'intérieur du cercle
      .icon {
        @include transition(all); // Utilisation du mixin transition
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #ffffff;

        // Styles spécifiques pour l'icône flèche
        &.arrow {
          left: 1.5rem;
          height: 0.125rem;
          background: none;

          &::before {
            position: absolute;
            content: "";
            top: -0.3rem;
            right: 0.0625rem;
            width: 0.625rem;
            height: 0.625rem;
            border-top: 0.125rem solid #fff;
            border-right: 0.125rem solid #fff;
            transform: rotate(45deg);
          }
        }
      }
    }

    // Styles pour le texte du bouton
    .button-text {
      @include transition(all); // Utilisation du mixin transition
      position: absolute;
      top: 0;
      left: 10px;
      right: 0;
      bottom: 0;
      padding: 0.75rem 0;
      margin: 0 0 0 1.85rem;
      color: black;
      font-family: Poppins;
      font-size: 14px;
      font-weight: 500;
      line-height: 1.4;
      text-align: center;
      text-transform: uppercase;
    }
  }

  // Styles lorsque le bouton est survolé
  &:hover {
    .circle {
      width: 100%;
      .icon {
        &.arrow {
          background: white;
          transform: translate(1rem, 0);
        }
      }
    }
    .button-text {
      color: white;
    }
  }
}

///////////////////////////////////////////
.project-description .projet-link {
  font-family: Poppins;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}

.project-img {
  padding: 40px;
  margin-right: 20px;
  img {
    width: 100%;
    max-width: 500px;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}

.langages {
  font-family: Poppins;
  color: rgb(120, 11, 163);
  font-size: 13px;
  font-weight: 400;
}
